@section Content {
    <link rel="stylesheet" type="text/css" href="~/Content/Global.css">
    <script src="~/Content/instafeed.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var feed = new Instafeed({
            get: "tagged",
            tagName: "stufv",
            accessToken: "3235205639.1677ed0.161757ae95ef43609a248081321a5fc5"
        });
        feed.run();
    </script>
    <div class="container">
        <div class="page-header">
            <div class="well">
                <h1>
                    Instagram
                </h1>
            </div>
        </div>
        <div class="alert alert-success"> <strong> Gebruik de hastag #stufv en uw foto's worden rechtstreeks zichtbaar op onze website! </strong> </div>
    </div>
    <div id="wrapper">
        <div id="insta-wrap">
            <div id="instafeed"></div>
        </div>
    </div>
}
