@section Content{

    @model IEnumerable<webapp_stufv.Models.Guideline>

    <div class="container">
        <div class="page-header">
            <div class="well">
                <h1>@ViewBag.Title <small> voor veilig drankgebruik </small></h1>
            </div>
        </div>

        @foreach ( var item in Model ) {

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btncollapse" data-toggle="collapse" data-target="#@item.Id"></button>
                    <i>@Html.DisplayFor( modelItem => item.Short )</i> <br />
                    <div id="@item.Id" class="collapse">
                        @Html.DisplayFor( modelItem => item.Content )
                    </div> <br />
                </div>
            </div>

        }

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <strong> Verantwoord drinken! </strong>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque faucibus id nulla id volutpat. Aliquam mattis mauris velit, in pharetra dui dignissim sed. Ut nec enim scelerisque, hendrerit lectus vitae, suscipit urna. Sed accumsan ut dui quis ornare. Nulla et leo eget augue dapibus vehicula. Sed malesuada turpis eget interdum luctus. Ut magna magna, interdum et tincidunt at, venenatis eget erat. Donec quis nisi id ipsum rutrum pulvinar. Quisque rutrum nisl quis auctor tristique. </p>
                </div>
            </div>
        </div>
    </div>

}
