@section Content{

    @model IEnumerable<webapp_stufv.Models.Guideline>

    @{
        ViewBag.Title = "Richtlijnen";
    }

    <h1>@ViewBag.Title</h1> <br />
    <table class="table noborder">
        @foreach ( var item in Model ) {
            <tr>
                <td>
                    -<i>@Html.DisplayFor( modelItem => item.Short )</i>
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.Content )
                </td>
            </tr> 
        }

    </table>
}
