
@{
    ViewBag.Title = "Richtlijnen";
}

@section Content{
    <div class="page-header"><h1>@ViewBag.Title</h1></div>
    <div class="container">
        OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can.

        Hey, whatcha watching? They're like sex, except I'm having them! I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? Okay, I like a challenge. Large bet on myself in round one.

        Professor, make a woman out of me. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. And I'd do it again! And perhaps a third time! But that would be it. Bender, I didn't know you liked cooking. That's so cute.

        Really?!

        Well, then good news! It's a suppository. We need rest. The spirit is willing, but the flesh is spongy and bruised. It's a T. It goes "tuh". A sexy mistake. She also liked to shut up!

        It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels.
        For example, if you killed your grandfather, you'd cease to exist!
        Bite my shiny metal ass.
        Does anybody else feel jealous and aroused and worried?

        Actually, that's still true. Yeah, I do that with my stupidness. Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo! When I was first asked to make a film about my nephew, Hubert Farnsworth, I thought "Why should I?" Then later, Leela made the film. But if I did make it, you can bet there would have been more topless women on motorcycles. Roll film!

        It doesn't look so shiny to me.
        Maybe I love you so much I love you no matter who you are pretending to be.
        I didn't ask for a completely reasonable excuse! I asked you to get busy!
        But existing is basically all I do! Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored.

        I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in. That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!

        That's the ONLY thing about being a slave. Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo! Bite my shiny metal ass. That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!

        Look, last night was a mistake. No. We're on the top. Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you! I'll get my kit!

        Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase. I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him.

        When I was first asked to make a film about my nephew, Hubert Farnsworth, I thought "Why should I?" Then later, Leela made the film. But if I did make it, you can bet there would have been more topless women on motorcycles. Roll film! I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also, comes with double prize money.

        Oh sure! Blame the wizards! Oh yeah, good luck with that. Then throw her in the laundry room, which will hereafter be referred to as "the brig". I haven't felt much of anything since my guinea pig died.

        How much did you make me? Bender, we're trying our best. All I want is to be a monkey of moderate intelligence who wears a suit… that's why I'm transferring to business school! Yeah, and if you were the pope they'd be all, "Straighten your pope hat." And "Put on your good vestments."

        Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat. But I've never been to the moon! Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life.

        Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. Whoa a real live robot; or is that some kind of cheesy New Year's costume?

        These old Doomsday Devices are dangerously unstable. I'll rest easier not knowing where they are. I feel like I was mauled by Jesus. Oh no! The professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts!
    </div>
}

