@section Content{

    @model IEnumerable<webapp_stufv.Models.FAQ>

    <div class="container">
        <div class="page-header">
            <div class="well">
                <h1>@ViewBag.Title <small> </small></h1>
            </div>
        </div>

        @foreach ( var item in Model ) {

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btncollapse" data-toggle="collapse" data-target="#@item.Id"></button>
                    <i>@Html.DisplayFor( modelItem => item.Question )</i> <br />
                    <div id="@item.Id" class="collapse">
                        @Html.DisplayFor( modelItem => item.Answer )
                    </div> <br />
                </div>
            </div>

        }

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <p class="lead"> Heb je nog een andere vraag? Aarzel dan niet om ons te <a href=@Url.Action("Index", "Contact") class="alert-link"> contacteren</a>!</p>
                </div>
            </div>
        </div>
    </div>

}
