.box {
    display: inline-block;
    margin: 5%;
    padding: 1%;
    word-wrap: break-word;
    width: 20%;
    min-width: 200px;
    background-color: white;
    color: gray;
}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

a:hover {
    text-decoration:none;
}

.article {
    word-wrap: break-word;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.thumbsup {
    width: 20px;
    height: 25px;
}
