@section content{

    <div id="login">
        <h3>Aanmelden</h3>
        <form action="" method="Login/VerwerkLogin">
            <div class="veld">
                <label for="username">Gebruikersnaam: </label>
                <input type="text" name="vUsername" id="username" />
            </div>
            <div class="veld">
                <label for="password">Wachtwoord: </label>
                <input type="password" name="vPassword" id="password" />
            </div>
        </form>
    </div>

}