@section content {
    <div class="container">
        <div class="well page-header">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label>Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label>Naam</label>
            </div>
            <div class="col-md-1 col-md-offset-4">
                <label>Voornaam</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-3 col-md-offset-2">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label>Onderwerp</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label>Oschrijving</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <textarea type="text" class="form-control" ></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-primary" style="float: right">Send</button>
    </div>
    
}
