@section content {
    <div class="container">
        @using ( Html.BeginForm( "SendMessage", "Contact", FormMethod.Post, new { name = "contactForm", id = "contactForm", @class = "form-horizontal", role = "form" } ) ) {
            <div class="well page-header">
                <div class="well">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label>Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" name="email" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label>Naam</label>
                </div>
                <div class="col-md-1 col-md-offset-4">
                    <label>Voornaam</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" name="name" />
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <input type="text" class="form-control input-sm" name="firstname" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label>Onderwerp</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" name="subject" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label>Omschrijving</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea rows="10" type="text" class="form-control input-lg" name="description"></textarea>
                </div>
            </div> <br />
            <input type="submit" class="btn btn-primary right" value="submit" />
        }
    </div>

}
