@section Content{
    @model IEnumerable<webapp_stufv.Models.Emergency>

    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <table class="table">
        <tr>
            <th>
                <p class="text-capitalize"> Instantie </p>
            </th>
            <th>
                <p class="text-capitalize"> Telefoon nummer </p>
            </th>
            <th></th>
        </tr>

        @foreach ( var item in Model ) {
            <tr>
                <td>
                    <p class="text-danger"> @Html.DisplayFor( modelItem => item.Name ) </p>
                </td>
                <td>
                    <p class="lead"> @Html.DisplayFor( modelItem => item.TelNr ) </p>
                </td>
            </tr>
        }

    </table>
}
