@section Content{
    @model IEnumerable<webapp_stufv.Models.Emergency>

    <div class="container">
        <br />
        <div class="well">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-capitalize"> Instantie </p>
            </div>
            <div class="col-md-6">
                <p class="text-capitalize"> Telefoonnummer </p>
            </div>
        </div>

        @foreach ( var item in Model ) {
            <div class="row">
                <div class="col-md-6">
                    <p class="text-danger"> @Html.DisplayFor( modelItem => item.Name ) </p>
                </div>
                <div class="col-md-6">
                    <p class="lead"> @Html.DisplayFor( modelItem => item.TelNr ) </p>
                </div>
            </div>
        }

    </div>
}
