@model webapp_stufv.Models.Article

@section Content {

    <div class="container">

        <div class="page-header">
            <div class="well">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="article">
                <p class="text-muted">
                    @ViewBag.Date
                    <a href=@Url.Action("AddThumbsUp", "News", new { id = Html.DisplayFor( model => model.Id ) }, null )>
                        <img class="thumbsup" src="~/Content/img/thumbsup.png" />
                    </a>
                    @Html.DisplayFor( model => model.ThumbsUp )
                </p> <br />
                <div>
                    <div class="right">
                        @if ( Model.imgLink == null ) {
                            <img src="~/Content/img/noimageavailable.png" class="img-thumbnail articleimg" />
                        } else {
                            <img src=@Html.DisplayFor( model => model.imgLink ) class="img-thumbnail articleimg" />
                        }
                    </div>
                    @Html.DisplayFor( model => model.Content )
                </div>
            </div>
        </div>

        @if ( Session[ "email" ] == null || Session[ "email" ].Equals( "" ) ) {
            <br /> <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <p> Vind je dit artikel leuk? Login om het een like te geven! </p>
                    </div>
                </div>
            </div>
        }

    </div>
}

