@section Content{

    @model IEnumerable<webapp_stufv.Models.Article>

    @foreach ( var item in Model ) {
            <div class="box">
                <h4>
                    @Html.DisplayFor( modelItem => item.Title )
                </h4>
                <p class="blurry-text">
                    @Html.ActionLink(@item.Content.Substring( 0, 300 ) + "...", "Details", "News", new { id = item.Id }, null )
                </p>
            </div>
    }
}
