@section Content{

    @model IEnumerable<webapp_stufv.Models.Article>

    <div class="container">
        <div class="page-header">
            @foreach ( var item in ViewBag.Tips ) {
                <div id="box">
                    <div class="col-md-11">
                        <p id="tip">@item.TipText</p>
                    </div>
                    <div class="col-md-1">
                        <img onclick="closeBox()" id="closeImg" align="right" src="~/Content/img/close.png" />
                    </div>
                </div>
            }
            <div class="well">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        @foreach ( var item in Model ) {

            <div class="media">
                <div class="media-left">
                    <a href=@Url.Action("Details", "News", new { id = item.Id })>
                        @if ( item.imgLink == "" ) {
                            <img src="~/Content/img/noimageavailable.png" class="img-thumbnail noimage" />
                        } else {
                            <img src=@item.imgLink class="img-thumbnail noimage" />
                        }
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@item.Title</h4>
                    @item.Content.Substring( 0, item.Content.Length / 2 ) ...
                </div>
            </div> <br />

        }

        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <p> Klik op een afbeelding om het artikel te lezen! </p>
                </div>
            </div>
        </div>

    </div>

}
