@section Content {

    <div class="page-header"><h1>@ViewBag.Title</h1></div>

    <div class="alert alert-warning">
        <strong>Fout!</strong> E-mail adres of wachtwoord klopt niet.
    </div>

}
