@section content {

<div class="container">
    <div class="page-header">
        <div class="well">
            <h1 class="text-success">
                Succes!
            </h1>
        </div>
    </div>
    <div class="alert alert-success">
        Je event is aangemaakt!
    </div>
</div>

}