@section content {
    <script src="~/Content/js/jquery.min.js"></script>
    <script>
        function Open() {
            $("#box").hide();
        }
    </script>
    <div class="container">
        <div class="page-header">
            <div class="well">
                <h1>Partners</h1>
            </div>
        </div>
        @foreach (var item in ViewBag.Partner)
        {
            <div class="col-md-4">
                <table style="width: 350px; margin-bottom: 50px">
                    <tr>
                        <td><p style="font-weight: bold" align="center">@item.Name</p></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="https://www.google.be"><img src="~/Content/img/partner.jpg"></a></td>
                    </tr>
                </table>               
            </div>
        }
    </div>

}
