@section content {
    <div class="container">
        <div class="page-header">
            <div class="well">
                <h1>Partners</h1>
            </div>
        </div>
        @foreach (var item in ViewBag.Partner)
        {
            <div class="col-md-4">
                <table style="width: 350px; margin-bottom: 50px">
                    <tr>
                        <td><p style="font-weight: bold" align="center">@item.Name</p></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="@item.URL"><img src="~/Content/img/partnerImages/@item.Image" style="width: 200px; height: 165px;"></a></td>
                    </tr>
                </table>               
            </div>
        }
    </div>

}
